/02-The-Little-Red-Hen/#Na-Usdi-Agigage-Jitaga-Agisi.lyx#
*.bak
*.tmp
src-cln.pdf
images.raw/
/*/epub*/bin/
*.lyx~
*-capsule.jar
RCS/
/*/epub*/*.epub
/*/epub*/*.mobi
/*/epub*/tmp/
/*/reports/
/*/used-vocabulary.txt
/*/vocabulary-unmatched.txt
/*/vocabulary.lyx
/*/artwork/*/jpgs/
/*/artwork/*/pngs/
/*/artwork/*/pdfs/
images.raw.?/
counter.txt
files.txt
*.*#
