/vocabulary.txt.bak
/#Gigage-Alsdulo-ale-Na-Galgwogi-Unaksojaneda-Anigina.lyx#
/,Gigage-Alsdulo-ale-Na-Galgwogi-Unaksojaneda-Anigina.lyx,
/Gigage-Alsdulo-ale-Na-Galgwogi-Unaksojaneda-Anigina.pdf
/vocabulary.txt.tmp
/vocabulary.pdf
Gigage-Alsdulo-ale-Na-Galgwogi-Unaksojaneda-Anigina.txt
Red_Riding_Hood_The_Seven_Kids_b.pdf
Red_Riding_Hood_The_Seven_Kids_c.pdf
src.cln.b.pdf
