/vocabulary.txt.bak
/#Gigage-Alsdulo-ale-Na-Galgwogi-Unaksojaneda-Anigina.lyx#
/,Gigage-Alsdulo-ale-Na-Galgwogi-Unaksojaneda-Anigina.lyx,
/Gigage-Alsdulo-ale-Na-Galgwogi-Unaksojaneda-Anigina.pdf
/vocabulary.txt.tmp
/vocabulary.pdf
